:root {
    --primary-color-light: #B3D0E7;
    --primary-color: #0160FF;
    --secondary-colo: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* generics */
.container {
    width: 980px;
    margin: 0 auto;
}

.cont-small {
    width: 900px;
}

.d-flex {
    display: flex;
}

.border {
    border: 1px dashed;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.btn {
    padding: 0.3rem 1rem;
    background-color: var(--primary-color);
}

.btn-big {
    text-align: center;
    vertical-align: middle;
    padding: 0.6rem 1.6rem;
    display: inline-block;
}

li {
    list-style: none;
}

.txt-white {
    color: white;
}

.txt-grey {
    color: grey;
}

.center {
    align-items: center;
}

.marginbottom60 {
    margin-bottom: 60px;
}

.margintop60 {
    margin-top: 60px;
}

.margintop30 {
    margin-top: 30px;
}

.margintop10 {
    margin-top: 10px;
}

.marginbottom30 {
    margin-bottom: 30px;
}

.margintop100 {
    margin-top: 100px;
}

.marginbottom100 {
    margin-bottom: 100px;
}

.decoration-none {
    text-decoration: none;
    color: white;
}

.paddingbottom30 {
    padding-bottom: 30px;
}

.txtblue {
    color: var(--primary-color);
}

.border-bottom {
    border-bottom: 1px solid grey;
}

.border-top {
    border-top: 1px solid grey;
}

.btn-white {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.padding30 {
    padding: 30px;
}

h2 {
    font-size: 2rem;
}

/* color-palette */
.bg-designit-green {
    background-color: #A2D39B;
}

.bg-asu {
    background-color: #61092B;
}

.bg-uf {
    background-color: #0093CE;
}

.bg-topps {
    background-color: #FF1B1C;
}

.bg-designit {
    background-color: #F5F5F5;
}

.bg-bicicle-relief {
    background-color: #D4001F;
}

.bg-hearst {
    background-color: #B3D0E7;
}

.bg-lonely {
    background-color: #0E2381;
}

.bg-clear {
    background-color: #FFD72F;
}

/* header */


header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    flex-wrap: wrap;
}

.logo {}

header li {
    margin: 10px;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

.txt-black {
    color: black;
}

/* jumbotron */
.jumbo {
    min-height: 500px;
    background-color: var(--primary-color-light);
    padding-bottom: 20px;

}

h1 {
    font-size: 4rem;
    text-align: left;
    padding-top: 80px;
}

.jumbo-txt {
    width: 30%;
}

.jumb-img {
    width: 70%;
}

.jumbo a {
    text-decoration: none;
    display: inline-block;
}

.fa-arrow-down {
    font-size: 3rem;

}

.image-jumbo {
    height: 390px;
    bottom: -60px;
}

/* business-plan-section */
.circles span {
    margin-right: 50px;
    text-align: center;
}

.circles span::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid grey;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

/* radio */


.radio {
    align-items: center;
    margin-top: 60px;
}

label {
    margin-right: 30px;
}

input {
    display: none;
}


.radio label .fake-radio {
    content: "";
    border: 1px solid black;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    transition: border 0.2s linear;
}

.radio label input:checked~.fake-radio {
    border: 4px solid var(--primary-color);
}

/* columns */
.col-section {
    gap: 20px;
}

.col {
    width: 33%;
    min-height: 100%;
    border: 1px solid grey;
}

.title-col {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.col-text {
    padding: 20px;
}

.checkedlist li::before {

    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f00c";
    color: var(--primary-color);

}

.buttons-col span {
    display: inline-block;
}

/* enterprise col */

.enterprise-col {
    width: 100%;
    min-height: 200px;
}

.enterprise-txt {
    width: 70%;
    padding: 20px;
}

.btn-enterprise {
    padding: 20px;
}

/* section partner */
.section-partner {
    min-height: 500px;
    padding-top: 30px;
}

.partner-img-box {
    width: 70%;
}

.partner-txt {
    padding: 20px;
}

.partner-img {
    height: 450px;
}

/* operation-cards */
.cards-container {
    gap: 20px;
    flex-wrap: wrap;
}



.card {
    width: 30%;
    min-height: 400px;
}

.cards-img {
    height: 200px;
}

/* first banner */
.first-banner a {
    color: var(--primary-color);
    display: inline-block;
}

/* university-cards */
.university-col {
    width: 50%;
    height: 400px;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
}

.university-card {
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    transition: border 0.3s linear;
    border: 10px solid transparent;

}

.university-card:hover {
    border: 10px solid rgba(248, 248, 248, 0.3);
}



.university-img {
    height: 50px;
    filter: invert(1);
}

.university-img-small {
    height: 20px;
}

.central-card-img {
    height: 90px;
}

.central-card {
    height: 100%;
    overflow: auto;
}


/* try-section */
.try-section {

    background-color: var(--primary-color-light);
}

.txt-banner {
    width: 70%;
    padding: 100px 0;
}

.btn-banner {
    padding: 100px 0;
}

.btn-banner a {
    background-color: white;
    color: black;
    padding: 0.8rem 2.5rem;
}

/* faq-section */
.faq-section span {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.faq-folder {
    justify-content: space-between;
    align-items: center;
}

.faq-section {
    min-height: 400px;
}

/* footer */


.footer-col {
    width: 33%;
}

footer {
    background-color: var(--secondary-colo);
    min-height: 400px;
    padding: 50px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer li {
    padding: 10px 0;
}

.earth::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f57d";
}

.earth::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f0d8";

}

/* bonus-faq */
.question:hover .fa-angle-down {
    transform: rotate(180deg);
}

.answer {
    display: none;
    font-size: 0.9rem;
    padding: 0 50px 20px 0;

}

.question:hover .answer {
    display: block;
}

/* bonus cards */
.hover-designit {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;
}


.bg-designit-green:hover~.hover-designit {
    display: block;
    background-color: #F5F5F5;
}

.hover-asu {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;
}


.bg-asu:hover~.hover-asu {
    display: block;
    background-color: #F5F5F5;
}

.hover-uf {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;
}


.bg-uf:hover~.hover-uf {
    display: block;
    background-color: #F5F5F5;
}

.hover-topps {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;
}


.bg-topps:hover~.hover-topps {
    display: block;
    background-color: #F5F5F5;
}

/* right cards bonus */

.hover-bicycle {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;
}


.bg-bicicle-relief:hover~.hover-bicycle {
    display: block;
    background-color: #F5F5F5;
}

.hover-hearst {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;
}

.img-hover {
    width: 50%;
}


.bg-hearst:hover~.hover-hearst {
    display: block;
    background-color: #F5F5F5;
}


.hover-lonely {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;
}


.bg-lonely:hover~.hover-lonely {
    display: block;
    background-color: #F5F5F5;
}

.hover-clear {
    height: 80%;
    width: 32%;
    position: absolute;
    left: 34%;
    top: 5%;
    display: none;

}


.bg-clear:hover~.hover-clear {
    display: block;
    background-color: #F5F5F5;
}