:root {
    --primary-color-light: #B3D0E7;
    --primary-color: #0160FF;
    --secondary-colo: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* generics */
.container {
    width: 980px;
    margin: 0 auto;
}

.cont-small {
    width: 900px;
}

.d-flex {
    display: flex;
}

.border {
    border: 1px dashed;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.btn {
    padding: 0.3rem 1rem;
    background-color: var(--primary-color);
}

.btn-big {
    text-align: center;
    vertical-align: middle;
    padding: 0.6rem 0.6rem;
    display: inline-block;
}

li {
    list-style: none;
}

.txt-white {
    color: white;
}

.txt-grey {
    color: grey;
}

.center {
    align-items: center;
}

.margintop60 {
    margin-top: 60px;
}

.margintop30 {
    margin-top: 30px;
}

.margintop10 {
    margin-top: 10px;
}

.marginbottom30 {
    margin-bottom: 30px;
}

.decoration-none {
    text-decoration: none;
    color: white;
}

.paddingbottom30 {
    padding-bottom: 30px;
}

.txtblue {
    color: var(--primary-color);
}

.border-bottom {
    border-bottom: 1px solid grey;
}

/* header */


header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    flex-wrap: wrap;
}

.logo {}

header li {
    margin: 10px;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

.txt-black {
    color: black;
}

/* jumbotron */
.jumbo {
    min-height: 500px;
    background-color: var(--primary-color-light);
    padding-bottom: 20px;

}

h1 {
    font-size: 2.5rem;
    text-align: left;
    padding-top: 80px;
}

.jumbo-txt {
    width: 30%;
}

.jumb-img {
    width: 70%;
}

.jumbo a {
    text-decoration: none;
    display: inline-block;
}

.fa-arrow-down {
    font-size: 3rem;

}

.image-jumbo {
    height: 390px;
    bottom: -60px;
}

/* business-plan-section */
.circles span {
    margin-right: 50px;
    text-align: center;
}

.circles span::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid grey;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

/* border active circles */

.circles span:active::before {
    border: 1px solid #0160FF;
    box-shadow: 0px 0px 5px #0160FF inset;
}

/* columns */
.col-section {
    gap: 20px;
}

.col {
    width: 33%;
    min-height: 900px;
    border: 1px solid grey;
}

.title-col {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.col-text {
    padding: 20px;
}

.checkedlist li::before {

    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f00c";
    color: var(--primary-color);

}

.buttons-col span {
    display: inline-block;
}